$primary: rgba(26, 122, 179, 1);
$on-primary: rgba(255, 255, 255, 1);
$primary-container: rgba(220, 242, 255, 1);
$on-primary-container: rgba(5, 53, 81, 1);
$primary-tim-light: rgba(173, 198, 214, 1);

$secondary: rgba(58, 78, 107, 1);
$on-secondary: rgba(255, 255, 255, 1);
$secondary-container: rgba(223, 234, 252, 1);
$on-secondary-container: rgba(26, 24, 51, 1);

$tertiary: rgba(223, 84, 88, 1);
$on-tertiary: rgba(255, 255, 255, 1);
$tertiary-container: rgba(250, 223, 214, 1);
$on-tertiary-container: rgba(56, 12, 6, 1);

$error: rgba(194, 53, 26, 1);
$on-error: rgba(255, 255, 255, 1);
$error-container: rgba(252, 231, 229, 1);
$on-error-container: rgba(65, 0, 2, 1);

$surface-dim: rgba(217, 218, 224, 1);
$surface: rgba(240, 246, 255, 1);
$surface-bright: rgba(248, 251, 255, 1);
$surface-container-lowest: rgba(255, 255, 255, 1);
$surface-container-low: rgba(239, 244, 251, 1);
$surface-container: rgba(237, 240, 244, 1);
$surface-container-high: rgba(231, 234, 239, 1);
$surface-container-highest: rgba(216, 224, 237, 1);
$on-surface: rgba(26, 27, 33, 1);
$on-surface-variant: rgba(69, 70, 79, 1);
$on-surface-bright: #F8FBFF;

$outline: rgba(118, 118, 128, 1);
$outline-variant: rgba(219, 218, 231, 1);

$inverse-surface: rgba(49, 49, 55, 1);
$inverse-on-surface: rgba(255, 255, 255, 1);
$inverse-primary: rgba(183, 196, 255, 1);

$scrim: rgba(0, 0, 0, 0.32);
$shadow: rgba(0, 0, 0, 1);


$colors: (
  primary: $primary,
  on-primary: $on-primary,
  primary-container: $primary-container,
  on-primary-container: $on-primary-container,

  secondary: $secondary,
  on-secondary: $on-secondary,
  secondary-container: $secondary-container,
  on-secondary-container: $on-secondary-container,

  tertiary: $tertiary,
  on-tertiary: $on-tertiary,
  tertiary-container: $tertiary-container,
  on-tertiary-container: $on-tertiary-container,

  error: $error,
  on-error: $on-error,
  error-container: $error-container,
  on-error-container: $on-error-container,

  surface-dim: $surface-dim,
  surface: $surface,
  surface-bright: $surface-bright,
  surface-container-lowest: $surface-container-lowest,
  surface-container-low: $surface-container-low,
  surface-container: $surface-container,
  surface-container-high: $surface-container-high,
  surface-container-highest: $surface-container-highest,
  on-surface: $on-surface,
  on-surface-variant: $on-surface-variant
);

@each $k, $v in $colors {
  .text-#{$k} {
    color: $v !important;
  }

  .bg-#{$k} {
    background-color: $v !important;
  }
}

