html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
address,
img,
ins,
kbd,
strong,
sub,
sup,
ol,
ul,
li,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
fieldset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-size: 100%;
  font-weight: normal;
  line-height: 1.2;
  vertical-align: baseline;

  border: 0;
}

img {
  vertical-align: middle;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

pre {
  white-space: pre-wrap;
}

// *::-webkit-scrollbar {
//   display: none;
// }

